@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Bug Tracker</title>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- stylesheet -->
    <link href="~/Content/SyntaxHighlighter/shCore.css" rel="stylesheet" />
    <link href="~/Content/SyntaxHighlighter/shCoreEmacs.css" rel="stylesheet" />
    <link href="~/Content/SyntaxHighlighter/shThemeEmacs.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/LandingPage/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/LandingPage/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/LandingPage/css/main.css" rel="stylesheet" />
    <link href="~/Content/LandingPage/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/LandingPage/css/owl.theme.min.css" rel="stylesheet" />

    
    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:300,400' rel='stylesheet'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Rouge+Script" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="content-block" id="header">
        @*<div id="overlay-1">*@
            <header id="site-header" class="clearfix">
                <div class="pull-right">
                    <nav class="navbar site-nav" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <i class="fa fa-bars fa-2x"></i>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                
                                <li><a href="http://portfolioresume.azurewebsites.net"><i class="fa fa-laptop"></i> Portfolio</a></li>
                               
                            </ul>
                        </div>  <!-- /.navbar-collapse -->
                    </nav>
                </div>
            </header>	<!-- site-header -->
        
           
            <img src="~/Assets/buglogo2.jpeg"  class="img-responsive" />
            
            
              <!-- container -->
        </div> <!-- middle -->
       
     <!-- overlay-1 -->
     <!-- content-block -->
    <div class="content-block text-center" id="About" style="font-family:'Times New Roman', Times, serif">
       
            <h1>About Bug Tracker</h1><br /><br />

            <p style="padding-bottom:20px">
                Looking for a good debugging process?  This bug tracking system helps in capturing, reporting <br /><br />and managing data on bugs that occur in software.
                Use this bug tracker <br /><br />with your team to easily delegate bug fixing and bug tracking projects. This bug tracking system also <br /><br />provides insights into how efficiently the team is able to handle bugs. This gives project managers <br /><br />a snapshot of where is project is at any moment. <!--These bug capturing tools allows a simple interface <br /><br />for communications about the bugs, automated notification systems and <br /><br />searching bugs by type and importance.-->
            </p>
            </div>
    <div style="text-align:center; padding-bottom:20px">
        @Html.ActionLink("Try It Out", "Login", "Account", null, new { @class = "btn btn-lg btn-success" })
    </div>

    <div style="text-align:center">
        <img src="~/Content/LandingPage/Badges/htmlbadge.jpg" /><span>
        <img src="~/Content/LandingPage/Badges/css badge.jpg" /></span>
    </div>
   
    <script>
        new WOW().init();
    </script>
    
    <script src="~/Content/LandingPage/js/jquery-2.1.3.min.js"></script>
    <script src="~/Content/LandingPage/js/bootstrap.min.js"></script>
    <script src="~/Content/LandingPage/js/jquery.actual.min.js"></script>
    <script src="~/Content/LandingPage/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/LandingPage/js/owl.carousel.min.js"></script>
    <script src="~/Content/LandingPage/js/jquery.isonscreen.js"></script>
    <script src="~/Content/LandingPage/js/main.js">
    </script> 
    <script>
        SyntaxHighlighter.all();
    </script>
      
</body>
</html>
