
@{
    ViewBag.Title = "Index";
}

<div class="align-center" style="font-style:oblique">
    <h3> User Roles</h3>
</div>

<div class=" well-lg" style="background-color:lightgray; padding-left:15px; padding-top:10px">
    <table id="adminindex" class="table table-striped">

        <thead>
            <tr>
                <th>
                    User Name
                </th>
                <th>
                    Roles Assigned
                </th>
                <th>
                    Action
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var mod in Model)
            {
                <tr>
                    <td>
                        @mod.User.FirstName @mod.User.LastName 
                    </td>
                    <td>
                        <ul>
                            @foreach (var role in mod.Roles)
                            {
                                <li>@role</li>
                            }
                           
                        </ul>
                    </td>

                    <td>
                        @Html.ActionLink("Edit Roles", "AdminUserView", new { id = mod.User.Id }, new { @class = "btn btn-xs btn-info" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $('#adminindex').DataTable();
        }
    </script>
}