@model BugTracker.Models.UserProjectsViewModel
@{
    ViewBag.Title = "EditUsers";
}

<div class="align-center" style="font-style:oblique">
    <h2>Edit Users</h2>
    </div>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Project.Id)
        <div>

            <div class="form-group">
                <p>
                    <h4>  Project Name : @Html.DisplayFor(model => model.Project.Name)</h4>
                </p>
                <p>
                    @Html.ListBox("SelectedUsers", Model.Users)
                </p>
                <p>
                    <input type="submit" value="Update Users" class="btn btn-primary" />
                </p>

            </div>
        </div>

    }


