@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="align-center" style="font-style:oblique; padding-bottom:30px">
    <h3>Password reset email sent</h3>
</div>

@*<hgroup class="title">*@
@*<h1>@ViewBag.Title.</h1>*@
@*</hgroup>*@
<div class="panel" style="background-color:lightblue">
    <div class="panel-body">
        <div class="align-center" style="padding-top:30px">
            <p>
                We sent a message to the email you provided with a </br>
                link to reset your password.  Please check </br>
                your inbox and follow the instructions in the email. @*to reset your password.*@
            </p>
        </div>
    </div>
</div>
