@{
    ViewBag.Title = "Reset password confirmation";
}

@*<hgroup class="title">*@
<div class="align-center" style="font-style:oblique; padding-bottom:50px">
    <h3>Reset Password Confirmation</h3>
</div>

@*</hgroup>*@

<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
